{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>
<div class="Japan">
    <h1>Japan</h1>

    <div  class="Japan1">
    <img width="600" height="390" src="https://www.teachaway.com/sites/default/files/styles/header_image_1200/public/teachenglishinjapan4_1.jpg?itok=HlGD3sUd" alt="">
    </div>
      <a  href="/buy-tickets" class="btn">Купить билеты</a>
    
      <input class="incheck" type="checkbox" id="check">
      <label class="lab" for="check">Открыть</label>
      <div class="popup">ABOUT SOMETHING</div>
      
      <br>
      <br>
</div> 

<br>
<br>

<div class="Japan">
  <h1>Japan</h1>

  <div  class="Japan1">
  <img width="600" height="390" src="https://www.teachaway.com/sites/default/files/styles/header_image_1200/public/teachenglishinjapan4_1.jpg?itok=HlGD3sUd" alt="">
  </div>
    <a  href="/buy-tickets" class="btn">Купить билеты</a>
  
    <input class="incheck" type="checkbox" id="check">
    <label class="lab" for="check">Открыть</label>
    <div class="popup">ABOUT SOMETHING</div>
    
    <br>
    <br>
</div> 
</p>


{% endblock %}